<div class="sidebar">
    <div class="header">
        <h4>Search</h4>
    </div>
    <div class="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>